@import "tailwindcss";

@font-face {
  font-family: "Megidana";
  src: url("fonts\fonnts.com-Megidana.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ortica";
  src: url("fonts\OrticaLinear-Light.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Daily";
  src: url("fonts\CSDaily-Regular_demo.otf") format("otf");
}

:root {
    --color-blue: #1231ab;
    --color-whitish: #eae9da;
    --color-blue2: #222caf;
    --color-cyan: #12cbe8;
    --color-cyan2: #15afc1;
    --color-darkblue: #0c09bc;
    --color-darkblue2: #103278;
    background: var(--color-blue);
    color: var(--color-whitish);
    font-family: 'Space Grotesk', sans-serif;
}